{{ define "title" }}Books - KOmpanion{{ end }}

{{ define "content" }}
<div>
    <form method="post" action="/books/upload" enctype="multipart/form-data" class="grid">
        <div>
            <input type="file" name="book" accept=".epub,.pdf,.fb2">
        </div>
        <button style="flex-grow: 1;">Upload</button>
    </form>
</div>
<section>
    {{ range .books }}
    <!-- Another example -->
    <div class="book-card">
        <div class="book-cover">
            <a href="/books/{{.ID}}">
                <img src="/books/{{.ID}}/cover" alt="{{.Title}} - {{.Author}}">
            </a>
        </div>
        <div class="book-info">
            <h3 class="book-title">
                <a href="/books/{{.ID}}">
                    {{.Title}}
                </a>
            </h3>
            <p class="book-author">{{.Author}}</p>
            <p class="book-progress">{{ generateProgressBar .Progress 15 }} // {{ .Progress }}%</p>
        </div>
    </div>
    {{ end }}
</section>

{{ with .pagination }}
<nav class="pagination" role="navigation" aria-label="pagination">
    {{ if .hasPrev }}
    <a href="?page={{ .prevPage }}" class="pagination-prev">Previous</a>
    {{ end }}

    {{ if .hasNext }}
    <a href="?page={{ .nextPage }}" class="pagination-next">Next</a>
    {{ end }}

    <ul class="pagination-list">
        {{ if gt .currentPage 1 }}
        <li><a href="?page=1" class="pagination-link" aria-label="Goto page 1">1</a></li>
        {{ if gt .currentPage 2 }}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {{ end }}
        {{ end }}

        <li><a href="?page={{ .currentPage }}" class="pagination-link is-current" aria-label="Page {{ .currentPage }}"
                aria-current="page">{{ .currentPage }}</a></li>

        {{ if lt .currentPage .totalPages }}
        {{ if lt .currentPage (subtract .totalPages 1) }}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {{ end }}
        <li><a href="?page={{ .totalPages }}" class="pagination-link" aria-label="Goto page {{ .totalPages }}">{{
                .totalPages }}</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
{{ end }}
